h1{color: firebrick;
    text-align: center;
    font-size: xx-large}


h3{ text-align: center}

h4{ text-align: center;
    color: green}

p{ text-align: center;
    color: firebrick;
    font-size: x-large}

head{ text-align: center;}
body{ text-align: center;
    background-color: wheat;}
img{ text-align: center;}

h5{ font-size: x-large;
    color: firebrick;}

